

.the-navbar-class {
  /* position: absolute; */
  display: flex;
  justify-content: center;
  /* background-color: red; */
  height: 70px;
  position: fixed;
  /* top: 70px; */
  left: 0;
  z-index: 1000;
  width: 100vw;
  background-color: rgba(39, 160, 207, 0.6);
  overflow: hidden;
  

}

body {
  height: 100vh;
}

.main-nav {
  display: flex;
  width: 70%;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* top: 0px; */
}

.main-nav li {
  margin: 0;
  padding: 0;
  margin-right: 30px;
  width: 14%;
  text-align: center;
  /* background: rgba(175, 218, 143, 0.3);; */
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 400ms ease-in-out;
  cursor: pointer;
}

.main-nav li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.5rem;
}

.main-nav li:hover {
  color: white;
  background: rgb(197, 179, 179);
}

.nav-item {
  padding-top: 17px;
}


.main-image-first {
  position: relative;
  background-image: url('./images/arrows-background-black-and-white-745365.jpg');
  background-size: cover;
  height: 100vh;
  width: 100vw;
  opacity: 0.9;
  z-index: 1;
}



a {
  font-size: 20px;
}


#the-p-tag {
  margin: 0;
  color: white;
  font-size: 50px;
  display: flex;
  justify-content: center;
  /* padding-top: 200px; */
  /* font-family: 'Times New Roman', Times, serif; */
  font-family: 'Raleway', sans-serif;
 float: right;
 text-transform: uppercase;
 letter-spacing: 3px;
 font-size: 1.9rem;
 position: absolute;
 bottom: 500px;
 left: 400px;
 background-color: black;
 opacity: 0.5;

}

#the-second-p-tag {
  color: black;
  font-size: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding-left: 600px;
  float: right;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.0rem;
  position: absolute;
  bottom: 450px;
  /* background-color: black; */

}



.the-resume-class {
  color: white;
  width: 0;
  word-wrap: break-word;
  font-family: 'Times New Roman', Times, serif;
  position: absolute;
  left: 30px;
  font-size: 20px;
  bottom: 200px;
  text-transform: uppercase;
  border: 2px solid white;
  background-color: white;


}

.the-resume-class a {
  font-size: 30px;  
  font-family: 'Times New Roman', Times, serif;
  /* border: 1px solid white; */
  color: white;
  text-decoration: none;

}



.about-me-page {
  /* background-image: url('./images/apple-black-and-white-black-and-white-169573.jpg'); */
  background-color: rgb(97, 202, 27);
  background-size: cover;
  height: 100vh;

}

.about-me-page > h1 {
color: mintcream;
float: right;
padding-top: 100px;
padding-right: 50px;
font-size: 60px;
/* font-family: monospace; */
height: 50px;
margin: 10px;
margin-left: 100px;
text-decoration: none;
color: white;
text-transform: uppercase;
letter-spacing: 3px;
font-size: 1.5rem;
/* background-color: black; */
 
}

#different-one {
  font-family: 'Times New Roman', Times, serif;
  color: white;
  /* font-size: 28px; */
 position: absolute;
 margin-top: 120px;
 padding-left: 880px;
 text-decoration: none;
 color: white;
 text-transform: uppercase;
 letter-spacing: 3px;
 font-size: 1.0rem;
 
}

.arrow {
  box-sizing: border-box;
  height: 5vw;
  width: 5vw;
  border-style: solid;
  border-color: white;
  border-width: 0px 3px 3px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;

}

.arrow:hover {
  border-bottom-width: 4px;
  border-right-width: 4px;
}

.not-container {
  padding-left: 700px;
  padding-top: 700px;
  height: 100vh;
  position: absolute;
  
;

}




.second-home-class {
  height: 100vh;
  background-color: #256347;

}


.full-video-background {
  height: 100vh;
}


video {
  height: 100vh;
  width: 100vw;
} 




.make-cool-textarea {
  background-color: black;
  height: 20vh;
  width: 53vw;
 /* margin-left: 100px; */
  position: absolute;
  top: 200px;
  left: 675px;
}


.creating-background-div {
  background-color: rgba(243, 240, 52, 0.2);
  height: 20vh;
  width: 29vw;
  position: absolute;
  top: 110px;
  left: 979px;
}


.the-cool-div {
padding-top: 200px;
}

.the-cool-div h1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.0rem;
  color:  rgba(184, 83, 83, 0.486);
  position: absolute;
  padding-left: 100px;
  text-transform: uppercase;
 letter-spacing: 30px;
 font-size: 4.0rem;
}

.the-cool-div h2 {
  /* padding-top: 100px; */
  padding-left: 200px;
  text-transform: uppercase;
 letter-spacing: 30px;
 font-size: 5.0rem;
 color:  rgba(52, 214, 243, 0.6);
 font-family: 'Advent Pro', sans-serif;
 padding-top: 90px;
}

.the-cool-div p {
  color:  rgb(243, 240, 52);
  /* font-family: 'Advent Pro', sans-serif; */
  font-family: 'Cinzel', serif;
  text-transform: uppercase;
  letter-spacing: 30px;
  font-size: 6.0rem;
  padding-left: 200px;
  position: absolute;

}



.back-background {
  position: absolute;
  background-color: rgba(255, 242, 242, 0.3);
  height: 50vh;
  width: 90vw;
  bottom: 200px;
  left: 100px;
}


.cool1 {
  position: absolute;
  height: 10vh;
  width: 10vw;
  background-color: black;
}



.videoTag {
  height: 100vh;
  opacity: 0.5;
}


.add-opacity {
  height: 100vh;
  background-color: black;
  position: absolute;
}



#my-name {
  position: absolute;
  color: black;
bottom: -20px;
  /* left: 550px; */
  font-family: 'Roboto Mono', monospace;
  font-size: 40px;
}


.for-personal-image {
  background-image: url('./images/apple-black-and-white-black-and-white-169573.jpg');
  background-size: cover;
  width: 30vw;
  height: 100vh;
  background-color: rgb(1, 255, 149);
  color: white;
  font-size: 14px;
  font-family: fantasy;
}

.my-image {
  background-image: url('./images/vendetta.jpeg');
  background-size: cover;
  height: 200px;
  width: 250px;
  border: 1px solid white;
  border-radius: 100px;
  margin-left: 77px;
  z-index: 3;

}


.for-the-opacity {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: black;
  height: 100vh;
  width: 30vw;
  z-index: 1;
  opacity: 0.5;
}

.for-the-opacity > h1 {
  z-index: 2;
  top: 200px;
  left: 60px;
  position: absolute;
 font-family: 'Courier New', Courier, monospace;
}

.for-summary {
  background-color: black;
  height: 100vh;
  position: absolute;
  left: 0px;

}

.circle-image {
  background-image: url('./images/vendetta.jpeg');
  background-size: cover;
  height: 30vh;
  width: 20vw;
  margin-left: 550px;
  margin-top: 100px;
  border: 4px solid #0054d2;
  border-radius: 100%;
  box-shadow: 0 0 1px 11px rgba(0, 109, 210, 0.15), 0 0 1px 22px rgba(13, 129, 224, 0.1);
  display: inline-block;
}

.circle-image h1 {
 margin-top: 280px;
font-size: 26px;
font-family: 'Titillium Web', sans-serif;
 margin-left: 20px;
 color: white;
 background-color: turquoise;
  
}

.circle-image p {
 font-size: 20px;
 font-family: 'Titillium Web', sans-serif;
  margin-left: 20px;
  color: white;
  background-color: turquoise;
  padding-left: 50px;
}


.main-background-image {
 background-image: url('./images/business-cellphone-codes-92904.jpg');
 height: 70vh;
 background-size: cover;
background-position-y: -300px;
opacity: 0.8;

}

#h1-tag {
 text-align: center;
 font-family: 'Nunito Sans', sans-serif;
 color: rgb(49, 77, 13);
 /* background-color: turquoise; */

}


.social-links > a {
  background: #f9f9fb;
  border-radius: 100%;
  color: #535358;
  display: inline-block;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  position: relative;
  text-align: center;
  -webkit-transition: .3s;
  transition: .3s;
  width: 40px;
  margin: 10px;
  margin-right: 50px;

}


.the-icon {
 font-size: 22px;
}


.social-links {
  display: flex;
  justify-content: center;

}


.social-links > a:hover {
  background-color:rgba(13, 129, 224, 0.9);
  box-shadow: 0 0 1px 11px rgba(0, 109, 210, 0.15), 0 0 1px 22px rgba(13, 129, 224, 0.1);
}